<style>
.app-menu {
  background-color: gray;
  font-size: 15pt;
}

.nav-link {
  color: white;
  text-align: left;
}
/* เอาเม้าไปชี้ */
.nav-link:hover {
  color: gold;
}

.sub-menu {
  margin-left: 50px;
}
</style>

<template>
  <div class="app-menu min-vh-100">
    <b-nav vertical>
      <b-img
        src="../assets/Buu-logo11.png"
        width="100%"
        center
        class="mt-5"
      ></b-img>
      <b-nav-item class="mt-5">Home</b-nav-item>
      <b-nav-item>About</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput"
        >Form Input<b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput1"
        >Form Input1</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput2"
        >Form Input2</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput3"
        >Form Input3</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput3"
        >Form Input3</b-nav-item
      >

      <b-nav-item @click="showForm = !showForm"
        >Form<b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form1"
        >Form1
      </b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form2"
        >Form2
      </b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form3"
        >Form3
      </b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form4"
        >Form4
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false
    }
  }
}
</script>
