<template>
  <div>
    <b-navbar>
      <b-navbar-brand href="#">My app</b-navbar-brand>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="navbar-collapse justify-content-end">
        <b-navbar type="light" variant="light">
          <b-nav-form class="d-flex justify-content-between">
            <b-form-input class="ml-2 d-inline w-50" placeholder="Search">
            </b-form-input>

            <b-button
              variant="outline-success"
              size="sm"
              type="submit"
              style="margin-left: 25px"
              >Search</b-button
            >
          </b-nav-form>
        </b-navbar>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em>User</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<style></style>
